* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: #3399CC;
	border: 10px solid #2B81AC;
	font-family: Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
	color: #fff;
}

.top {
	font-size: 21px;
	margin-left: 100px;
}

ul {
	width: 80%;
	margin: 50px auto 15px;
	background-color: white;
	font-size: 0;
	padding: 0px;
	border: 2px solid white;
	margin-left: 100px; 
	transition: all .4s linear;
}


.bottom {
	margin-left: 100px;
	font-size: 15px;
	opacity: 0.8;
	
}

ul li {
	font-size: 16px;
	height: 100px;
	transition: all .1s ease-in;
	border: 2px solid white;
	padding: 20px;
	width: calc(20% - 20px);
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.5;
}
li .wi {
	font-size: 25px;
	opacity: 0.5;

}
.top .wi {
	font-size: 20px;
} 

li:first-child {
	background-color: #3399CC;
	width: 50%;
}
li:nth-child(2) {
 	background-color: #33CCCC;
	width: 25%;
}
li:nth-child(3) {
 	background-color: #996699;
	width: 25%;
}
li:nth-child(4) {
 	background-color: #C24747;
	width: 25%;
}
li:nth-child(5) {
 	background-color: #E2674A;
	width: 25%;
}
li:nth-child(6) {
 	background-color: #FFCC66;
	width: 25%;
}
li:nth-child(7) {
 	background-color: #99CC99;
	width: 25%;
}
li:nth-child(8) {
 	background-color: #669999;
	width: 25%;
}
li:nth-child(9) {
 	background-color: #CC6699;
	width: 50%;
}
li:nth-child(10) {
 	background-color: #339966;
	width: 25%;
}
li:last-child {
	background-color: #666699;
	width: 100%;
}
ul:hover li {
	opacity: 0.2;
}
ul li:hover  {
	opacity: 1;	
} 
